<!-- Small presentation -->
<!-- ################################################ -->
<div>
	<div id="questions" class="container">
		<h1>How it works</h1>
		<p>The conversion is divided in 3 main step:</p>
		<p><b>- 1. Pitch Detection:</b> By using a pitch detection algorithm [Mc Leod Pitch Detection Algorithm], we convert the input audio signal in a pitch array by applying the algorithm all along the track. Although the algorithm works with any sampling period, it is recommanded to record audio with a high sampling frequency such as 44.1Khz.</p>
		<p><b>- 2. Step Detection:</b> This stage consists in detecting the position of note changes.</p>
		<p><b>- 3. Rhythm Detection:</b> Now that the succession of the notes and their durations is known, we need to search the BPM and rhythms that fit the best for each notes.</p>
		

		<h1>Futurs improvements</h1>
		<p>
			- [Step Detection] Perform using machine learning.<br>
			- [Pitch Detection] Improve computation time.
		</p>

		<h1>Sources</h1>
		<p>
			Angular <a href="https://angular.io/">https://angular.io/</a><br>
			NGX cookie service <a href="https://github.com/7leads/ngx-cookie-service">https://github.com/7leads/ngx-cookie-service</a><br>
			FileSaver.js <a href="https://github.com/eligrey/FileSaver.js">https://github.com/eligrey/FileSaver.js</a><br>
			wavesurfer.js <a href="https://wavesurfer-js.org/">https://wavesurfer-js.org/</a><br>
			Bootstrap <a href="https://getbootstrap.com/">https://getbootstrap.com/</a><br>
			NGX Bootstrap <a href="https://valor-software.com/ngx-bootstrap/">https://valor-software.com/ngx-bootstrap/</a><br>
			Highcharts <a href="https://www.highcharts.com/">https://www.highcharts.com/</a><br>
			Public Domain Vectors <a href="https://publicdomainvectors.org/">https://publicdomainvectors.org/</a><br>
			OpenSheetMusicDisplay <a href="https://opensheetmusicdisplay.org/">https://opensheetmusicdisplay.org/</a><br>
			Terms And Conditions Template <a href="https://termsandconditionstemplate.com/">https://termsandconditionstemplate.com/</a><br>
			McLeod Algorithm <a href="https://gist.github.com/arilotter/333cacfe16e16d27e2c125a8d788f95e">https://gist.github.com/arilotter/333cacfe16e16d27e2c125a8d788f95e</a><br>
		</p>

	</div>
</div>
<!-- ################################################ -->

<!-- 	<div id="team" class="container text-center">
		<h1 id="TeamTitle">THE TEAM</h1>
		<div class="row">
			<div class="col">
				<div class="col team-member">
					<img src="/assets/img/nicolasdejax.jpg" alt="">
					<h1>Nicolas DEJAX</h1>
					<h2>Founder</h2>
					<a href="#">
						<i class="fab fa-linkedin fa-2x"></i>
					</a>
				</div>
			</div>
			<div class="col">
				<div class="team-member">
					<img src="/assets/img/nochebajax.jpg" alt="">
					<h1>Noche</h1>
					<h2>Co-Founder</h2>
					<a href="#">
						<i class="fab fa-linkedin fa-2x"></i>
					</a>
				</div>
			</div>
		</div>
	</div> -->
<!-- 		<h1>Technologies</h1>
		<h3>Front-End</h3>
		<p>Angular v7.2.9 <a href="https://angular.io/">https://angular.io/</a></p>
		<p>Bootstrap v4.3.1 <a href="https://getbootstrap.com/">https://getbootstrap.com/</a></p>
		<p>NGX Bootstrap v4.0.1 <a href="https://valor-software.com/ngx-bootstrap/">https://valor-software.com/ngx-bootstrap/</a></p>
		<h3>Back-End</h3>
		<p>Django v2.1.7 <a href="https://www.djangoproject.com/">https://www.djangoproject.com/</a></p>
		<p>Celery v4.2.1 <a href="http://www.celeryproject.org/">http://www.celeryproject.org/</a></p>
		<p>Django Rest Framework v3.9.1 <a href="https://www.django-rest-framework.org/">https://www.django-rest-framework.org/</a></p>
		<h3>Heart of the algorithm</h3>
		<p>Python v3.6.7 <a href="https://www.python.org/">https://www.python.org/</a></p> -->