<div id="maindiv">
	<div class="container-fluid">
		<div class="row">

			<!-- Parameter part -->
			<div id="ParameterDiv" class ="col-3">
				<div class="row justify-content-center">
					<h3>Parameters</h3>
				</div>
				<div class="row justify-content-center">
					<select id="sel" (change)="changeParameter($event.target.value)">
						<option value="-1">Select a parameter</option>
						<option value="{{param.id}}" *ngFor="let param of ListParameters">{{param.name}}</option>
					</select>
				</div>
				<div class="row justify-content-center">
					<div class="row separator_row"></div>
					<app-pitch-parameters></app-pitch-parameters>
					<form [formGroup]="StartStopForm">
						<div class="form-group">
							<label for="TimeStart">Time Start [s]</label>
							<input id="TimeStart" class="form-control" type="text" placeholder="time start" formControlName="timestart_s">
						</div>
						<div class="form-group">
							<label for="TimeStop">Time Stop [s]</label>
							<input id="TimeStop" class="form-control" type="text" placeholder="timestop" formControlName="timestop_s">
						</div>
					</form>
					<button id="convertButton" type="submit" (click)="onSubmitConversion()" [disabled]="!childParameters.ParametersForm.valid || isConversionRunning || !StartStopForm.valid">Convert</button>
				</div>
			</div>

			<!-- Graphic part -->
			<div class="col-9">
				<div id="divAskWavForm" *ngIf="!isWavFilePlotted" class="row" (click)="plotWavFile()">
					<div id="div_waveform"></div>
					<div id="div_download"></div>
				</div>
				<div class="row" [class.WaveFormhidden]="!isWavFilePlotted">
					<div id="waveform" (window:resize)="onResizeWaveform($event)"></div>
				</div>
				<div class="row justify-content-center" [class.WaveFormhidden]="!isWavFilePlotted || !isWavFileReady">
					<button id="button_play_pause" (click)="wavesurfer.playPause()">Play/Pause</button>
				</div>
				<div id="chart_row" class="row">
					<div class="col" #chartPitch>
					</div>
				</div>
			</div>

		</div>

		<div class="row separator_row"></div>
		<app-progression-bar></app-progression-bar>
		<div class="row">
			<div class="col" style="text-align: left;">
				<button routerLink="/converter/project/{{id_project}}" id="button_back">< BACK </button>
			</div>
			<div class="col" style="text-align: right;">
				<button [disabled]="this.project.state < 1" routerLink="/converter/project/{{id_project}}/advanced-converter/step2-stepdetection" id="button_next">NEXT ></button>
			</div>
		</div>
	</div>
</div>



