/* MAIN DIV */
#maindiv {
	background-color: var(--background-color-secondary);
	margin:2rem;
}
.separator_row {
	height:3px;
	margin-top:1rem;
	margin-bottom:1rem;
	background:linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
}
/* PARAMETERS */
#ParameterDiv .row h3 {
	padding:1.5rem;
}

#RhythmParam {
	overflow:scroll;
	max-height:800px;
	padding:1rem;
	width:00%;
}
#convertButton {
	padding:1rem;
	margin:1rem;
	min-height:2rem;
	min-width:8rem;
	border:none;
	background-color:rgba(0,0,0,0.5);
	color:var(--text-color);
	font-weight: bold;
}
#convertButton:hover {
	background-color:var(--theme-color-primary);
}


/* GRAPHICS */
#DownloadButtonsDiv {
	margin:1rem;
}
.download_button {
	padding:1rem;
	margin:1rem;
	min-height:2rem;
	min-width:10rem;
	border:none;
	background-color:rgba(0,0,0,0.5);
	color:var(--text-color);
	font-weight: bold;
}
.download_button:hover {
	background-color:var(--theme-color-primary);
}

/* PROGRESS BAR*/
progressbar {
	height:2rem;
}
#button_back, #button_next {
	padding:1rem;
	margin:2rem;
	min-height:3rem;
	min-width:10rem;
	border:none;
	background-color:rgba(0,0,0,0.5);
	color:var(--text-color);
	font-weight: bold;
}
#button_back:hover, #button_next:hover {
	background-color:var(--theme-color-primary);
}
#button_back {
	box-shadow: -5px 5px 10px rgba(0,0,0,1);
}
#button_next {
	box-shadow: 5px 5px 10px rgba(0,0,0,1);
}
.statusSuccess {
	color:green;
	font-weight: bold;
}
.statusError {
	color:red;
	font-weight: bold;
}